body {
  font-family: "Input Mono";
  background: black;
  color: rgb(196, 196, 196);
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  text-decoration: underline;
}

.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 15%; /* Full-width */
  height: 1px; /* Specified height */
  background: #252525; /* Grey background */
  outline: none; /* Remove outline */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #ffffff; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}

button {
  float: left;
  color: rgb(184, 184, 184);
  font-family: "Input Mono";
  background-color: rgb(0, 0, 0);
  text-align: center;
  border: 1px solid #2f2f2f;
  padding: 12px;
  margin: 5px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  transition: 0.5s;
  cursor: pointer;
  transition: 0.2s linear;
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: #2f2f2f;
  cursor: pointer;
}

button:disabled {
  color: rgb(90, 90, 90);
  background-color: black;
  cursor: inherit;
  font-family: inherit;
}

button.selected {
  font-family: inherit;
  background-color: #2f2f2f;
}

button.primary {
  font-family: inherit;
  border-color: #c3c3c3;
  min-width: 160px;
  min-height: 50px;
}

button.primary:hover {
  border-color: transparent;
}

.labeled-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 750px;
}

.labeled-input input {
  width: 500px;
}

.explanation {
  margin: 50px 0;
}

@font-face {
  font-family: "Input Mono";
  src: url(./fonts/InputMono-Light.ttf) format("truetype");
}

.separator-line {
  width: 70%;
  border: 1px solid #a9b0c0;
  margin: 40px 0;
  transform: rotate(-0.07deg);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
